<!doctype html>
<html>
<head>
	<title>Cars Manager</title>
	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
	<link rel="stylesheet" href="{{static '/css/main.css'}}">
	<link rel="stylesheet" href="{{static '/css/bootstrap.min.css'}}">
	{{#each styles}}
	<link rel="stylesheet" href="{{this}}">
	{{/each}}
</head>
<body>
	<!-- <header><img src="{{backgroundImage}}" alt="Cars Overview"></header> -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="about">Cars Manager</a>
        </div>
        {{#if logged}}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard">Dashboard</a></li>
            <li>
            	<form class="navbar-form navbar-right" role="form" action="process?form=logout" method="POST">
			          <button type="submit" class="btn btn-primary">Log out</button>
			        </form>
			      </li>
          </ul>
        </div>
        {{else}}
        	{{#if showHeaderLogin}}
	        <div id="navbar" class="navbar-collapse collapse">
	          <form class="navbar-form navbar-right" role="form" action="process?form=login" method="POST">
	            <div class="form-group">
	              <input type="text" placeholder="Email" class="form-control" name="login">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="Password" class="form-control" name="password">
	            </div>
	            <button type="submit" class="btn btn-success">Sign in</button>
	          </form>
	        </div><!--/.navbar-collapse -->
	        {{/if}}
        {{/if}}
      </div>
    </nav>
  {{{body}}}
  <div class="container">
      <footer>
        <p>&copy; Lukasz Rosol 2015</p>
      </footer>
  </div>
	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}
</body>
</html>