

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>This is a web application created for academic purposes. It allows create an account and easy manage your cars. Application core is NodeJS. Server was written from scratch wherefore is light, fast, designed only for this application. List of used frameworks and tools is located below:</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Node.JS</h2>
          <p class="description">Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>
          <p><a class="btn btn-default" href="http://nodejs.org/" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Express</h2>
          <p class="description">Fast, unopinionated, minimalist web framework for Node.JS</p>
          <p><a class="btn btn-default" href="http://expressjs.com/" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Grunt</h2>
          <p class="description">In one word: automation. The less work you have to do when performing repetitive tasks like minification, compilation, unit testing, linting, etc, the easier your job becomes.</p>
          <p><a class="btn btn-default" href="http://gruntjs.com/" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Handlebars</h2>
          <p class="description">Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.</p>
          <p><a class="btn btn-default" href="http://handlebarsjs.com/" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">  
          <h2>Less</h2>
          <p class="description">Less is a CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables, mixins, functions and many other techniques that allow you to make CSS that is more maintainable, themable and extendable.</p>
          <p><a class="btn btn-default" href="http://lesscss.org/" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Bootstrap</h2>
          <p class="description">Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system.</p>
          <p><a class="btn btn-default" href="http://getbootstrap.com/" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Mocha</h2>
          <p class="description">Mocha is a feature-rich JavaScript test framework running on node.js and the browser, making asynchronous testing simple and fun.</p>
          <p><a class="btn btn-default" href="http://mochajs.org/" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">  
          <h2>Chai</h2>
          <p class="description">Chai is a BDD / TDD assertion library for node and the browser that can be delightfully paired with any javascript testing framework.</p>
          <p><a class="btn btn-default" href="http://chaijs.com/" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>MongoDB</h2>
          <p class="description">MongoDB (from "humongous") is an open-source document database, and the leading NoSQL database.</p>
          <p><a class="btn btn-default" href="http://www.mongodb.org/" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{static '/js/bootstrap.min.js'}}"></script>