

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {{#each cars}}
              {{#if view}}
                <li class="active"><a href="dashboard?car={{carIndex}}">{{model}}<span class="sr-only">(current)</span></a></li>
              {{else}}
                <li><a href="dashboard?car={{carIndex}}">{{model}}</a></li>
              {{/if}}
            {{/each}}
          </ul>
          <form role="removeCar" name="removeCar" action="process?form=delCar" method="POST">
          <ul class="nav nav-sidebar">
            <li><a href="/newcar">Add car</a></li>
            <li><a href="#" onclick="document.forms['removeCar'].submit(); return false;">Remove car</a>
          </ul>
          </form>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{dashboardTitle}}</h1>
          
            <div class="row hr">
              <div class="col-sm-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Av. fuel consumption</h3>
                  </div>
                  <div class="panel-body">
                    <table width="100%">
                    <tr>
                      <td><h4 align="right"><b>{{avConsumption}}</b></h4></td>
                      <td width="10px"></td>
                      <td><h6>l/100km</h6></td>
                    </tr> 
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Total distance</h3>
                  </div>
                  <div class="panel-body">
                    <table width="100%">
                    <tr>
                      <td><h4 align="right"><b>{{totDistance}}</b></h4></td>
                      <td width="10px"></td>
                      <td><h6>km</h6></td>
                    </tr> 
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Av. Cost per liter</h3>
                  </div>
                  <div class="panel-body">
                    <table width="100%">
                    <tr>
                      <td><h4 align="right"><b>{{avCost}}</b></h4></td>
                      <td width="10px"></td>
                      <td><h6>$/l</h6></td>
                    </tr> 
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Total cost</h3>
                  </div>
                  <div class="panel-body">
                    <table width="100%">
                    <tr>
                      <td><h4 align="right"><b>{{totCost}}</b></h4></td>
                      <td width="10px"></td>
                      <td><h6>$</h6></td>
                    </tr> 
                    </table>
                  </div>
                </div>
              </div>
            </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Fuel</th>
                  <th>Liters</th>
                  <th>Cost [1l]</th>
                  <th>Distance</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <form role="form" action="process?form=addRefuel" method="POST">
                <tr>
                  <td><div class="form-group">
                    <input type="date" placeholder="Date" class="form-control" name="date" required>
                  </div></td>
                  <td><div class="form-group">
                    <input type="text" placeholder="Fuel" class="form-control" name="fuel" required>
                  </div></td>
                  <td><div class="form-group">
                    <input type="text" placeholder="Liters" class="form-control" name="liters" required>
                  </div></td>
                  <td><div class="form-group">
                    <input type="text" placeholder="Cost" class="form-control" name="cost" required>
                  </div></td>
                  <td><div class="form-group">
                    <input type="text" placeholder="Distance" class="form-control" name="distance" required>
                  </div></td>
                  <td><div class="form-group">
                    <button type="submit" class="btn btn-success">Add</button>
                  </div></td>
                </tr>
                </form>
                {{#each refuels}}
                <form role="{{_id}}" action="process?form=delRefuel" method="POST">
                  <input type="hidden" name="id" value="{{_id}}">
                  <tr>
                    <td>{{date}}</td>
                    <td>{{fuel}}</td>
                    <td>{{liters}}</td>
                    <td>{{costPerLiter}}</td>
                    <td>{{distance}}</td>
                    <td><button type="submit" class="btn btn-danger">Del</button></td>
                  </tr>
                </form>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>