

    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h1 class="page-header"></h1>
          <h1 class="page-header">{{dashboardTitle}}</h1>
          <form class="form-car" role="form" action="process?form=addCar" method="POST">
            <input type="text" class="form-control" name="manufacturer" placeholder="Manufacturer" required autofocus>
            <input type="text" class="form-control" name="model" placeholder="Model" required>
            <input type="text" class="form-control" name="engine" placeholder="Engine" required>
            <input type="text" class="form-control" name="distance" placeholder="Distance" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>